<div class="container">
  <div *ngIf="!isQuizStart" class="select-quizbox">
    <div>
      <h3>Select difficulty</h3>
      <select #selectDifficulty name="difficulty" (change)="selectChange(selectDifficulty.value)">
        <option selected value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Difficulty</option>
      </select>
    </div>
    <button (click)="startQuiz()">Start the Quiz</button>
  </div>
  <app-questions [difficultyType]="difficultyLevel" *ngIf="isQuizStart"></app-questions>
</div>